<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Book store</title>
</head>
<body>

<th:block th:include="header"></th:block>

<div class="wrapper">
    <h1>All books</h1>
    <div sec:authorize="hasAuthority('MODERATOR')">
        <a href="#" th:href="@{/admin/books/create}">
            <button class="admin-create">create</button>
        </a>
    </div>
    <div class="book-container">
        <th:block th:each="book: ${books}">
            <a class="book" th:href="@{'/books/'+${book.id}}"
               th:style="'background-image:url(' + @{../static/images/cover.png} + '); background-repeat: no-repeat, repeat; background-size: cover;'"
               style="background-image: url('../static/images/cover.png')">
                <p class="book-title" th:text="*{book.name}"></p>
                <div class="description">
                    <div class="author">
                        <p>Author</p>
                        <p class="author-name" th:text="*{book.author}"></p>
                    </div>
                    <div class="price">
                        <p>Price</p>
                        <p class="price-tag" th:text="*{book.price}"></p>
                    </div>
                </div>
            </a>
        </th:block>

    </div>
</div>
</body>
</html>